body{
  height: 650px;
  width: 550px;
  background-color: #00ffea;
  /*background-image: url('/img/fun.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  color: black;
  text-align: center;
}
.headline{
  font-weight: bold;
  font-size: 80px;
}
#close-image img {
    display: block;
    height: 130px;
    width: 100px;
}
button {
    border-radius: 50%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
