<!DOCTYPE html>
<html ng-app="myApp" ng-controller="AppCtrl">
  <head>
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" charset="utf-8"></script>
    <link rel="stylesheet" href="css/page.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>Summer Event Mapping</title>
    <meta name="description" content="Carnival and Event Mapping tool">

    <link rel="manifest" href="/manifest.json">

  </head>
  <body>
  <div id="wrapper">
      <div class="overlay"></div>

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
          <ul class="nav sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#">
                     FILTERS
                  </a>
              </li>
              <li>
                  <a href="#">Festivals</a>
              </li>
              <li>
                  <a href="#">Carnivals</a>
              </li>
              <li>
                  <a href="#">Other Events</a>
              </li>
              <li>
                  <a href="#">Enter Zip Code</a>
              </li>
              <li>
                  <input type="text" class="indent"/>
              </li>
              <li><br></li>
              <li>
                  <button class="indent">Apply Filters</button>
              </li>
              <li>
                  <a href="mailto:theapp@somemail.com ?subject=Add My Event to Your Site&body=Event%20Name:%0D%0A%0D%0AStart%20Date:
                  %0D%0A%0D%0AEnd%20Date:%0D%0A%0D%0APrice:%0D%0A%0D%0ACity:%0D%0A%0D%0AState:%0D%0A%0D%0AZip%20Code:
                  %0D%0A%0D%0APrimary%20Contact%20Name:%0D%0A%0D%0AEvent%20Contact%20Phone%20Number:" target="_blank">Add Your Event</a>
              </li>
          </ul>
      </nav>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
              <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
          </button>



          <div class="container">

        <h1 class="text-center">Summer Event List</h1>


        <input ng-model="searchText" id="myInput" placeholder="Search for festivals, carnivals, or other..">

        <table class="table" id="textResults">
          <thead>
            <tr>

              <td>
                <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
                  Name
                  <span class="caret"></span>
                </a>
              </td>

              <td>
                <a href="#" ng-click="sortType = 'startDate'; sortReverse = !sortReverse">
                  Start Date
                  <span class="caret"></span>
                </a>
              </td>

              <td>
                <a href="#" ng-click="sortType = 'endDate'; sortReverse = !sortReverse">
                  End Date
                  <span class="caret"></span>
                </a>
              </td>

              <td>
                <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                  Price
                  <span class="caret"></span>
                </a>
              </td>

              <td>
                <a href="#" ng-click="sortType = 'location'; sortReverse = !sortReverse">
                  Location
                  <span class="caret"></span>
                </a>
              </td>

            </tr>
          </thead>

          <tbody>

            <tr ng-repeat="event in eventlist | filter:searchText:strict | orderBy:sortType:sortReverse">
              <td>{{event.name}}</td>
              <td>{{event.startDate}}</td>
              <td>{{event.endDate}}</td>
              <td>{{event.price}}</td>
              <td>{{event.location}}</td>
            </tr>

          </tbody>
        </table>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js" charset="utf-8"></script>
      <script src="controllers/controller.js" charset="utf-8"></script>


  </div>
   <!-- /#page-content-wrapper -->


   <script>
   $(document).ready(function () {
   var trigger = $('.hamburger'),
       overlay = $('.overlay'),
      isClosed = false;

     trigger.click(function () {
       hamburger_cross();
     });

     function hamburger_cross() {

       if (isClosed == true) {
         overlay.hide();
         trigger.removeClass('is-open');
         trigger.addClass('is-closed');
         isClosed = false;
       } else {
         overlay.show();
         trigger.removeClass('is-closed');
         trigger.addClass('is-open');
         isClosed = true;
       }
   }

   $('[data-toggle="offcanvas"]').click(function () {
         $('#wrapper').toggleClass('toggled');
   });
 });



// var catagory = default
//
// if catagory === carvinal then carnival = true
//   else carnival = false
// if catagory === festival then festial = true
//   else festival = false
// if catagory === other then other = true
//   else other = false
// if catagory === default then carnival = true && festival = true && other = true

   </script>

</body>

</html>
